body {
    font-family: sans-serif;
    background-color: white;
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
     border-radius: 500px;
    width: 200px;
}

