body {
    font-family: sans-serif;
    background-image: url(https://scontent.fbom6-1.fna.fbcdn.net/v/t1.0-9/17265092_840124602791975_2796583156353271817_n.jpg?oh=dbf67dd6ad475aecc69d959e052c3197&oe=5A2AEFFB);
    
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
     border-radius: 500px;
    width: 200px;
}

